/*Tableau de facture*/
.colFacture:hover{
	background-color: #f3f2f2;
	cursor : pointer;
}

#list{
	overflow-y: hidden;
}


.colorLine{
	background-color: #efefef;
}

h1{
	font-size : 20px;
}

.ligne{
	user-select: none;
	-webkit-user-select: none;
}

.ligne:hover{
	cursor: pointer;
}

.selected{
	background-color: #f9ede1;
}

#factureTable{
	height: 100px;
	margin : 0;
}

#tableFac {
	margin: 0;
	text-align: center;
	width: 100%;
}

#tableFac thead, #tableFac tbody, #tableFac tr, #tableFac td, #tableFac th { display: block; }

#tableFac tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

#tableFac thead th {
	text-align: center;
	height: 30px;
}

#tableFac tbody {
	height: 120px;
	overflow-y: auto;
}

#tableFac thead {
	/* fallback */
}


#tableFac tbody td, #tableFac thead th {
	width: 14.2%;
	float: left;
}

#tableFac tbody td{
	padding : 0;
	white-space: nowrap;
	overflow-x: hidden;
}

/*Navigation button*/
.nav{
	background: linear-gradient(#d0d0d0, rgba(249, 253, 255, 0.26));
	padding-top: 15px;
	padding-bottom: 15px;
}



.nav button{
	min-width: 100px;
}

#source{
	float: right;
	margin-right: 2%;
}

/*Accordéon Commande : */
.glyphicon{
	transform : scale(1.2);
}

.glyphicon-log-out:hover{
	cursor: pointer;
	transform : scale(1.5);
}

.changePile:hover{
	cursor: pointer;
	color : #007fff;
}


#total .glyphicon-euro, #total .glyphicon-text-width{
	position: absolute;
	right: -18px;
	top: 5px;
	z-index: 2;
	margin-left: 5px;
	font-size: 0.9em;
}

/*CLIENT */

#reponse{
	text-align: center;
	margin-top: 2%;
	background-color: #95ff95;
	width: 40%;
	margin-left: 30%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.left{
	text-align : left;
}

.right{
	text-align: right;
}

#clientInfo{
	overflow-x: hidden;
}

#clientInfo .inputContainer{
	display: inline-block;
	margin-left: 10%;
	margin-bottom: 5%;
}

#clientInfo .barreRecherche select{
	margin-top : 2%;
}

#clientInfo .barreRecherche input{
	width: 80%;
}

#client .barreRecherche button{
	margin-top : 3%;
	padding : 2%;
	border : none;
	color : #0a0a0a;
	background-color: #b3c5fb;
}

#contentClient{
	margin-top: 1%;
	width: 60%;
	margin-left: 15%;
}

.rowResult{
	margin-left: 15%;
}

.rowResult label{
	display: inline-block;
	width: 30%;
	text-align: right;
	margin-right: 2%;
	color : blue;
}

.rowResult .valueResult{
	width: 50%;
	text-align: left;
	display: inline-block;
}


.containResult {
    /* text-align: left; */
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border: 1px solid #afaeae;
    position: relative;
}

.containResult:hover {
	cursor: pointer;
	border : 1px solid green;
}



.containInteraction{
	display: none;
	position: absolute;
	background : rgba(1, 1, 1, 0.65);
	top : 0;
	left : 0;
	width: 100%;
	height: 100%;
}

.interaction{
	position : absolute;
	top : 30%;
	left : 40%;
	width: 60%;

}

.interaction button{
	display: block;
	width: 30%;
	margin-bottom: 2%
}
/*FIN CLIENT*/

/*PAIEMENT*/
.relatParent{
	position: relative;
}

#recap .glyphicon:hover{
	cursor: default;
	transform : scale(1.2);
	padding-top: 0%;
}

#recap select{
	width: 100%;
}

#recap input[type="date"]{
	width: 100%;
}

.commentairePaiement{
	width: 50%;
	margin-left: 25%;
}

#total{
	text-align: right;
	padding-top: 1%;
	background-color: #ffffd4;
	padding-right: 10%;
	padding-bottom: 1%;

}
#total .inputContainer{
	display: inline-block;
}

#total input {
	text-align: right;
	opacity: 1;
	color : blue;
	background-color: #ffffd4;
	border : none;
}

#total #numFacture, #numComm{
	width: 90%;
}


.groupDate{
	text-align: left;
}

#groupeDate{
	margin-top: 2%;
	margin-left: 5%;
}

#groupeDate input{
	width: 200px;	
}

#groupeDate label{
	text-align: right;
}


@media screen and (max-width: 970px) {
	.prixGroupe{
		margin-top: 2%;
	}

	#menuL{
		display: none;
	}
}
.prixGroupe .inputContainer{
	width: 30%;
}

#reduction{
	background-color: #ffffd4;
}

#reduction input{
	background-color: #ffffd4;
	border-top :0;
	border-left : 0;
	border-right : 0;
}

#reduction select{
	background-color: #ffffd4;
	border-top :0;
	border-left : 0;
	border-right : 0;
}

#pro, #Frais{
	padding-bottom: 1%;
}

#product table{
	margin-left : 4%;
}

#reduction {
	padding-top: 1%;
	padding-bottom: 1%;
}

#recap{
	background-color: #fff; 
}

#recapPaiement{
	padding-top: 1%;
	padding-bottom: 2%;
}


#recapPrix, #recapPaiement{
	margin-left: 7.5%;
}

#recapPrix .inputContainer, #recapPaiement .inputContainer{
	display: inline-block;
}

#recapPaiement .inputContainer{
	margin-left: 5%;
}

#recapPaiement .inputContainer label{
	display: block;
}


/*FIN PAIEMENT*/


/*DEBUT LIVRAISON*/

#livraison{
	width: 100%;
	overflow-x: hidden;
}

#livraison .commentaireLivraison{
	overflow: hidden;
	text-align: left;
	margin-left: 10%;
	width: 80%;
	padding-bottom: 5%;
}

#livraison label{
	margin-top: 5%;
}

#livraison input{
	padding-top: 0%;
}

#livraison input[type="date"]{
	width: 75%;
}

#livraisonInfo *{
	margin-left: 5%;
}

/*FIN LIVRAISON*/



/*BOUTON A EXPEDIER*/
#expeditionColis{
	display: none;
}