/*#preparationCommandes{
  border-collapse: initial;
}*/

#preparationCommandes tr{
  border : 1px solid gray;
}

#alert{
  color : red;
  font-size : 30px;
  text-align : center;
  padding :8px;
}


.ligCommande:hover{
  color : green;

}
.ligCommande{
  padding: 10px;
  font-size: 20px;

}
#ligCommande-clic:hover{
  /*color : green;*/
  transition-duration: 0.4s;
  font-weight : bold;
  background-color :#138fef ; /*#FF7F50;=> belle couleur orange*/
  color : white;
}

/*#ligCommande-expediee{

}*/

/*.produitCommande, #numCommande{
  display: none;
}*/

#cadreCommande{
  font-weight: bold;
  display: none;
  
  border:5px double black;
  padding: 20px;
  /*padding-top: 15px;*/
  background-color:white;
}

.boutonsCommande:hover{
  color : green;
  background-color:lightgreen;
}
.boutonsCommande{
	margin-top:10px;
	margin-left:50px;
	width:25%;
	border-radius:10px;
}
/*#numCommande-clic{
  background-color: green;
}*/
