@font-face
{
	font-family:DPDPlutoSansLight;
	src:url(../fonts/PlutoSansDPDLight-Web.ttf);
}

@font-face
{
	font-family:DPDPlutoSansRegular;
	src:url(../fonts/PlutoSansDPDRegular-Web.ttf);
}

.listepr {
	float:left;
	display: inline-block;
}

.lignepr {
    background-color: #fff;
    color: #424143;
    height: 50px;
}

.lignepr:hover {
    cursor: pointer;
}


#dpdrelais_logo img {
    height: 45px;
    float: left;
    width: 45px;
}

.dpdrelais_info {
    float: left;
    margin: 4px 10px;
	text-transform: uppercase;
}
.dpdrelais_popup {
    margin: 16px 10px;
    float: right;
    text-align: right;
}
div.dpdrelais_popup a {
    color: #424143;
	text-decoration: none;
}
div.dpdrelais_popup a:hover{
    color: #dc0032;
	text-decoration: underline;
}
.dpdrelais_distance {
    margin: 10px 10px;
    float: right;
    text-align: right;

}
.dpdrelais_radio {
    margin: 12px 20px;
    float: right;
    text-align: right;

}
#dpdfrance_pickup {
    font-weight: normal;
    font-family: DPDPlutoSansLight;
    font-size: 11px;
}

div.lignepr {
    border-color: #424143;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
    margin: 5px 0px;
}
div.lignepr:nth-child(9)
{
	border:none;
}