/*LISTE CLIENT*/
.listeClient{
	width: 100%;;
}

#tableClient {
	margin: 0;
	text-align: center;
	width: 100%;
}

#tableClient thead, #tableClient tbody, #tableClient tr, #tableClient td, #tableClient th { display: block; }

#tableClient tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

#tableClient thead th {
	text-align: center;
	height: 30px;
}

#tableClient tbody {
	height: 120px;
	overflow-y: auto;
}


#tableClient tbody td, #tableClient thead th {
	width: 25%;
	float: left;
}

#tableClient tbody td{
	padding : 0;
	white-space: nowrap;
	overflow-x: hidden;
}


.ligneClient:hover{
	cursor: pointer;
}

.colClient:hover{
	cursor : pointer;
	background-color: #f3f2f2;
}


/*Récap CLIENT*/

.containClient{
	width: 40%;
	margin-left: 5%;
	display: inline-block;
}

#recapClient label{
	margin: 0;
	padding-top: 1%;
	padding-bottom: 1%;
}

#recapClient input{
	margin-bottom: 3%;
	margin-top: 1%;
}

.combo{
	margin-left: 5%;
	margin-top: 3%;
	padding-bottom: 5%;
}

.containCom{
	display: inline-block;
	vertical-align: middle;
}

.containCom textarea{
	width: 80%;
	max-width: 100%;
}

.containClientInfo{
	display: inline-block;
	width: 40%;
}

.containClientInfo input{
	padding : 0;
	margin-bottom: 5%;
}

.containClientInfo label{
	margin: 0;
}

#livraisonClientInfo{
	margin-left: 5%;
}

#contactClientInfo{
	vertical-align: top;
}

#contactComment{
	width: 80%;
	margin-left: 25%;
}

#contactComment textarea{
	width: 100%;
}
/*GOOGLE MAP*/
#containMap{
	display: inline-block;
	vertical-align: middle;
}

#map {
	display: inline-block;
	height: 200px;
	width: 200px;
}

#getLL{
	padding: 1%;
	display: block;
	border:  none;
	width: 98%;
	background-color: #a8d3ff;
}

#coordonnees{
	width: 40%;
}
