#panels-8 .produits{
  border : 1px solid black;
}

/*#panels-8 div h1{
  background-color: #138fef;
  color : white;
  margin : 0;
}*/
#tablePrep thead, #tablePrep tbody, #tablePrep tr, #tablePrep td, #tablePrep th { display: block; }

#tablePrep tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

#tablePrep thead th {
	text-align: center;
	height: 30px;
}

#tablePrep tbody {
	height: 120px;
	overflow-y: auto;
}

#tablePrep tbody td, #tablePrep thead th {
	width: 25%;
	float: left;
}

#tablePrep tbody td{
	padding : 0;
	white-space: nowrap;
	overflow-x: hidden;
  text-align: center;

}

#panels-8 #tablePrep{
  margin: 0;
  text-align: center;
  width: 100%;
}
.ListePrep{
  width:100%;
}
/*#boutons button{
  border : 3px solid green;
  width : 100px;
}*/

#tablePrep tr{
  cursor : pointer;
}


#boutons{
  border : 1px solid black;
}

#boutons td{
  border : 1px solid black;
  padding-left : 35%;

}

#boutons button{
  margin : 3px;
  /*margin-left : 0px;*/
  padding : 4px;
  border : none;
  border-color: green;
  border-radius: 10px;
  color : white;
  transition-duration: 0.4s;
  background-color: #138fef;
}

#boutons button:hover{
  background-color: green;
  border-color : white;
  color: white;
}
