#panels-8 .produits{
  border : 1px solid black;
}

#panels-8 div h1{
  background-color: #138fef;
  color : white;
  margin : 0;
}

#panels-8 #commande{
    width : 65%
    margin-left : auto;
    margin-right : auto;
}

#photoCarte{
  width : 40px;
  height : 40px;
}

/*#boutons button{
  border : 3px solid green;
  width : 100px;
}*/

#boutons{
  border : 1px solid black;
}

#boutons td{
  border : 1px solid black;
  padding-left : 35%;
}

#boutons button{
  margin : 3px;
  /*margin-left : 0px;*/
  transition-duration: 0.4s;
}

#boutons button:hover{
  background-color: #138fef;
  color: white;
}
